

<div class="row">
  <div class="span4">
    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {class: "well"}) do |f| %>
      <%= devise_error_messages! %>

  <fieldset>
    <legend>Register</legend>



    <%= f.input :first_name%>
    <%= f.input :last_name%>
    <%= f.input :profile_name%>
    <%= f.input :email%>
    <%= f.input :password%>
    <%= f.input :password_confirmation%>

  <div><%= f.button :submit, "Sign up" %></div>
</fieldset>
<% end %>

<%= render "devise/shared/links" %>

</div>
<div class="span8">
  <h2>Registering with Newark Hub</h2>
  <br></br>
  <h4>Newark Events</h4>
  Newark Hub is a non-profit community resource of the latest events in and around newark.
  <br></br>
  <h4>Free</h4>
  This website is free to register, add events and advertise with us.<br>
  Anyone who registers and contributes will get free access to the venues portal.
  <br></br>
  <h4>Secure</h4>
  Cookies are used by this website, you will not be tracked. <br>
  Your account details will remain inside Newark Hub and will not be accessible by the public.<br>
  We will not pass on your information to third parties, but may contact you for surveys and research surrounding Newark Hub.
  <br></br>
  <h4>Gravatar</h4>
  Your avatar icon will be used against each event added. Please register your account email address with <a href="http://en.gravatar.com/">http://en.gravatar.com/</a> to enable this. 
  </br>
  <br></br>
  </br>All rights reserved Newarkhub ©</br>
</div>
</div>
