<%= simple_form_for(@event, html: {class: "well"}) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.input :eventname %>
  <div class="row-fluid">
  <div class="span3"> 
    <%= f.input :venue_id, collection: Venue.all, label_method: :Venue_details%>
  </div>
  <div class="span9">
    * If no venue is listed please add the venue to newark hub.    <%= link_to 'New Venue', new_venue_path , class: "btn btn-success" %>
  </div>
</div>
    <%= f.input :eventtype_id, collection: Eventtype.all, label_method: :eventtypename %>
    <%= f.input :startdate %>
    <%= f.input :enddate %>
    <%= f.input :eventtime %>
    <%= f.input :sessions %>
    <%= f.input :cost %>
    <%= f.input :EventDescription %>  
  </div>

  <div class="form-actions">
    <%= f.button :submit%>
  </div>
<% end %>