<div class="page-header">
<h1>All Events</h1>
</div>

<table class="table table-striped table-bordered">
  <tr>
    <th>Avatar</th>
    <th>Name</th>
    <th>Event Name</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Event Time</th>
    <th>Number of Sessions</th>
    <th>Cost per person</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <div class="events">
     <td><%= image_tag event.user.gravatar_url %></td>
     <td><%= event.user.full_name %></td>
     <td><%= event.eventname %></td>
     <td><%= event.startdate %></td>
     <td><%= event.enddate %></td>
     <td><%= event.eventtime %></td>
     <td><%= event.sessions %></td>
     <td><%= event.cost %></td>
       <div class="meta">
         <td><%= link_to 'More Details', event %></td>
         <td><%= link_to 'Edit', edit_event_path(event) %></td>
          <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure you want to delete this event?' } %></td>
       </div>
     </tr>
  </div>
<% end %>
</table>

<br />

<%= link_to "Post a new event", new_event_path, class: "btn btn-success" %>
