<p id="notice"><%= notice %></p>

<h1>Event details</h1>

<div class="container-fluid">
<div class="row-fluid">
  <div class="span12">
    <p>
      <h4>
      <b>Event Name:</b>
      <%= @event.eventname %>
      </h4>
    </p>
    <p>
      <b>Event Type:</b>
      <%= @event.eventtype.eventtypename %>
    </p>
        <p>
      <b>Organisation:</b>
      <%= @event.organisation.OrganisationName %>
    </p>
  <div class="row-fluid">
  <div class="span4">
      <b>Venue Name:</b>
      <%= @event.venue.venuename %>
  </div>
  <div class="span4">
      <b>Venue Address1:</b>
      <%= @event.venue.address1 %>
  </div>
  <div class="span4">
      <b>Venue Postcode:</b>
      <%= @event.venue.postcode %>
  </div>
  </div>
</div>
<div class="row-fluid">
  <div class="span4">
      <b>Date:</b>
      <%= @event.startdate.strftime("%d/%m/%Y") %> to <%= @event.enddate.strftime("%d/%m/%Y") %>
  </div>
  <div class="span4">
      <b>Event Time:</b>
      <%= @event.eventtime.strftime("%H:%M") %>
  </div>
</div>
<div class="row-fluid">
  <div class="span4">
      <b>Number of Sessions:</b>
      <%= @event.sessions %>
  </div>
  <div class="span3">
      <b>Cost per person:   £</b>
      <%= @event.cost %>
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
    <p>
      <b>Event Description:</b>
      <%= @event.EventDescription %>
    </p>
    <p>
      <b>Added by:</b>
      <%= @event.user.full_name %>
    </p>
  </div>
</div>
</div>

<% if user_signed_in? %>
<%= link_to 'Edit', edit_event_path(@event) %> 
<% else %> 
Edit
<% end %>
|
<%= link_to 'Back', events_path %>
