<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @event.user.full_name %>
</p> 

<p>
  <b>Event Name:</b>
  <%= @event.eventname %>
</p>

<p>
  <b>Start Date:</b>
  <%= @event.startdate %>
</p>

<p>
  <b>End Date:</b>
  <%= @event.enddate %>
</p>

<p>
  <b>Event Time:</b>
  <%= @event.eventtime %>
</p>

<p>
  <b>Sessions:</b>
  <%= @event.sessions %>
</p>

<p>
  <b>Cost:</b>
  <%= @event.cost %>
</p>

<p>
  <b>Event Description:</b>
  <%= @event.EventDescription %>
</p>

<% if user_signed_in? %>
<%= link_to 'Edit', edit_event_path(@event) %> 
<% else %> 
Edit
<% end %>
|
<%= link_to 'Back', events_path %>
