<%= simple_form_for(@eventtype, html: {class: "well"}) do |f| %>
  <% if @eventtype.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@eventtype.errors.count, "error") %> prohibited this event type from being saved:</h2>

      <ul>
      <% @eventtype.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs">
    <%= f.input :eventtypename %>
    <%= f.input :eventtypedescription %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
