<%= simple_form_for(@venue, html: {class: "well"}) do |f| %>
  <% if @venue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@venue.errors.count, "error") %> prohibited this venue from being saved:</h2>

      <ul>
      <% @venue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :venuename, :label => "Venue Name" %>
    <%= f.input :address1 , :label => "Address line 1"%>
    <%= f.input :address2 , :label => "Address line 2"%>
    <%= f.input :addresstown, :label => "Town" %>
    <%= f.input :addresscounty, :label => "County" %>
    <%= f.input :postcode, :label => "Postcode" %>
    <%= f.input :email , :label => "Venue Email address"%>
    <%= f.input :phone , :label => "Venue phone number" %>
    <%= f.input :website , :label => "Website url"%>
    <%= f.input :ddaaccess , :label => "DDA Access (disabled access)"%>
    <%= f.input :computers , :label => "Computers (number of)"%>
    <%= f.input :toilets , :label => "Toilets"%>
    <%= f.input :wifi , :label => "Wifi"%>
    <%= f.input :hireable , :label => "Venue Hireable"%>
    <%= f.input :rentalcost, :label => "Rental Cost £" %>
    <%= f.input :otherinfo, :label => "Any other info" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
