<div class="page-header">
<h1>Newark Venues</h1>
</div>

<table class="table table-striped table-bordered">
  <tr>
    <th>Venue Name</th>
    <th>Address1</th>
    <th>Postcode</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Website</th>
    <th>DDA</th>
    <th>Computers</th>
    <th>Toilets</th>
    <th>Wifi</th>
    <th>Hireable</th>
    <th>Rental Cost £</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @venues.each do |venue| %>
  <div class="venues">
  <tr>
    <td><%= link_to venue.venuename, venue %></td>
    <td><%= venue.address1 %></td>
    <td><%= venue.postcode %></td>
    <td><%= venue.email %></td>
    <td><%= venue.phone %></td>
    <td><%= venue.website %></td>
    <td><%= venue.ddaaccess %></td>
    <td><%= venue.computers %></td>
    <td><%= venue.toilets %></td>
    <td><%= venue.wifi %></td>
    <td><%= venue.hireable %></td>
    <td><%= venue.rentalcost %></td>
    <div class="meta">
        <td><%= link_to 'More', venue %></td>
    </div>
    <% if user_signed_in? %>
    <td><%= link_to 'Edit', edit_venue_path(venue) %></td>
    <td><%= link_to 'Delete', venue, method: :delete, data: { confirm: 'Are you sure you want to delete this venue?' } %></td>
    <% else %>
    <td>    </td>
    <td>        </td>
    <% end %>

  </tr>
</div>
<% end %>
</table>

<br />

<%= link_to 'New Venue', new_venue_path , class: "btn btn-success" %>
