<p id="notice"><%= notice %></p>

<p>
  <b>Venuename:</b>
  <%= @venue.venuename %>
</p>

<p>
  <b>Address1:</b>
  <%= @venue.address1 %>
</p>

<p>
  <b>Address2:</b>
  <%= @venue.address2 %>
</p>

<p>
  <b>Addresstown:</b>
  <%= @venue.addresstown %>
</p>

<p>
  <b>Addresscounty:</b>
  <%= @venue.addresscounty %>
</p>

<p>
  <b>Postcode:</b>
  <%= @venue.postcode %>
</p>

<p>
  <b>Email:</b>
  <%= @venue.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @venue.phone %>
</p>

<p>
  <b>Website:</b>
  <%= @venue.website %>
</p>

<p>
  <b>Ddaaccess:</b>
  <%= @venue.ddaaccess %>
</p>

<p>
  <b>Computers:</b>
  <%= @venue.computers %>
</p>

<p>
  <b>Toilets:</b>
  <%= @venue.toilets %>
</p>

<p>
  <b>Wifi:</b>
  <%= @venue.wifi %>
</p>

<p>
  <b>Rentalcost:</b>
  <%= @venue.rentalcost %>
</p>

<p>
  <b>Otherinfo:</b>
  <%= @venue.otherinfo %>
</p>


<%= link_to 'Edit', edit_venue_path(@venue) %> |
<%= link_to 'Back', venues_path %>
