<h1>Venue details</h1>

<p id="notice"><%= notice %></p>

<p>
  <b>Venue Name:</b>
  <%= @venue.venuename %>
</p>

<p>
<% if @venue.photo.exists? then %>
  <%= image_tag @venue.photo.url(:small) %>
<% end %>
</p>

<p>
  <b>Address line 1:</b>
  <%= @venue.address1 %>
</p>

<p>
  <b>Address line 2:</b>
  <%= @venue.address2 %>
</p>

<p>
  <b>Town:</b>
  <%= @venue.addresstown %>
</p>

<p>
  <b>County:</b>
  <%= @venue.addresscounty %>
</p>

<p>
  <b>Postcode:</b>
  <%= @venue.postcode %>
</p>

<p>
  <b>Email address:</b>
  <%= @venue.email %>
</p>

<p>
  <b>Phone number:</b>
  <%= @venue.phone %>
</p>

<p>
  <b>Website url:</b>
  <%= @venue.website %>
</p>

<p>
  <b>DDA Access:</b>
  <%= @venue.ddaaccess %>
</p>

<p>
  <b>Number of Computers:</b>
  <%= @venue.computers %>
</p>

<p>
  <b>Toilets:</b>
  <%= @venue.toilets %>
</p>

<p>
  <b>Wifi:</b>
  <%= @venue.wifi %>
</p>

<p>
  <b>Hireable:</b>
  <%= @venue.hireable %>
</p>

<p>
  <b>Rental Cost £:</b>
  <%= @venue.rentalcost %>
</p>

<p>
  <b>Other Info:</b>
  <%= @venue.otherinfo %>
</p>

<% if user_signed_in? %>
<%= link_to 'Edit', edit_venue_path(@venue) %> 
<% else %> 
Edit
<% end %>
|
<%= link_to 'Back', venues_path %>
