<!DOCTYPE html>
<html>
<head>
  <title>Newark Hub</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <a class="brand" href="#">Newark Hub</a>
    <ul class="nav">
      <li class="active"><a href="#">Newark Hub</a></li>
      <li><%= link_to "All Events", events_path %></li>
    </ul>
  </div>
</div>

  </div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <!--Sidebar content-->
    </div>
    <div class="span10">
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
